[submodule "eigen_checks_ament"]
	path = eigen_checks_ament
	url = https://github.com/Stachq1/eigen_checks_ament.git
[submodule "minikindr_ament"]
	path = minikindr_ament
	url = https://github.com/Stachq1/minkindr_ament.git
